# Goreleaser
/dist/
/.github/release-notes.md

# Build
/provider-minio
cluster/images/provider-minio/provider-minio
*.out
*.exe
*.bin
*.so
*.dylib
*.dll
/package/*.xpkg
/kubeconfig
__debug*
_output/

# Docs
/.cache/
/.public/
/node_modules/

# work
/.work/
.vscode/
.kind
