# Goreleaser
/dist/
/.github/release-notes.md

# Build
/provider-minio
*.out
/package/*.xpkg
*.xpkg
/kubeconfig
__debug*
_output/
build/

# Docs
/.cache/
/.public/
/node_modules/

# work
/.work/
.vscode/
.kind
